<html>
<style>
body {
 background-color: #002444;
}
.head {
 color: white;
 text-align: center;
 font-size: 35px;
}
.under {
 color: white;
 text-align: center;
 margin-top: -30px;
  font-weight: lighter;
 padding-left: 300px;
}
.user {
 border-radius: 10px;
 height: 30px;

}
.submit {
 background-color: #355671;
 color: white;
 width: 133px;
 height: 35px;
}
.twitter {
display: flex;
justify-content: center;

}
.head1 {
 color: white;
 text-align: center;
}
.btn {
  padding-left: 10px;
margin-top: -14px;
}
</style>
   <body>
     <div>
     <h2 class="head">Movie Recommendation System </h2>
     <p class="under">Based on Twitter Profile Analysis</p>
     </div>
     <div class="twitter">

       <form action = "https://movierecommends1.herokuapp.com" method = "POST">
          <center><input class="user" type="text" name="name" placeholder="Enter a Twitter username to search..." size="40"/></center>
          <div class="btn">
          <input class="submit" type = "submit" value = "Analysis" />
        </div>
       </form>
   </body>
</html>
